.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button.remove {
    /*-fx-background-color: #ff8967;*/
    -fx-background-insets: 0px;
    -fx-background-radius: 20px;
    /*-fx-border-color: #ffae98 #964e41 #964e41 #ffae98;*/
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 30px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 20px;
}

.button.remove:hover {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.button.add {
    -fx-background-color: #67ce6c;
    -fx-pref-width: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-font-size: 130%;*/
    -fx-background-insets: 0px;
    -fx-border-radius: 0;
    -fx-border-color: #67ce6c #4f9d4f #4f9d4f #4f9d4f;
    -fx-translate-y: -1px;
}

.button.add:hover {
    -fx-background-color: #4f9d4f;
    -fx-border-color: #4f9d4f #4f9d4f #4f9d4f #4f9d4f;
}

#mainGrid .row.even {
    -fx-fill-height: true;
    /*-fx-background-color: #f5f5f5;*/
}

#mainGrid .row.odd {
    -fx-fill-height: true;
    /*-fx-background-color: #ebebeb;*/
}

.combo-box {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    /*-fx-pref-width: 100px;*/
}

.combo-box:showing {
    -fx-color: red;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #dcdcdc;
    -fx-text-fill: #292929;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: #292929;
}

/* Per command */

.stack .notch {
    -fx-translate-y: -2px;
    -fx-translate-x: 30px;
    -fx-fill: yellow;
    -fx-stroke: #d3d300;
}

.command {
    -fx-pref-height: 40px;
    -fx-alignment: center-left;
}

.command .label {
    -fx-text-fill: white;
}

.reset {
    -fx-background-color: #ffa381;
    -fx-border-color: #ffc8ad #c97665 #c97665 #ffc8ad;
}

.reset .combo-box {
    -fx-border-color: #c97665 #ffc8ad #ffc8ad #c97665;
}

.reset .combo-box-popup .list-cell {
    -fx-background-color: #c97665;
}
.stack .notch.reset {
    -fx-fill: #ffa381;
    -fx-stroke: #c97665;
}

.move {
    -fx-background-color: #4a6cd4;
    -fx-border-color: #4c7ee8 #485fbd #485fbd #4c7ee8;
}
.move .combo-box {
    -fx-border-color: #485fbd #4c7ee8 #4c7ee8 #485fbd;
}

.move .combo-box-popup .list-cell {
    -fx-background-color: #485fbd;
}
.stack .notch.move {
    -fx-fill: #4a6cd4;
    -fx-stroke: #485fbd;
}

.stop {
    -fx-background-color: #bb42c3;
    -fx-border-color: #d144d9 #a23faa #a23faa #d144d9;
}

.stop .combo-box {
    -fx-border-color: #a23faa #d144d9 #d144d9 #a23faa;
}

.stop .combo-box-popup .list-cell {
    -fx-background-color: #a23faa;
}
.stack .notch.stop {
    -fx-fill: #bb42c3;
    -fx-stroke: #a23faa;
}

.nothing {
    -fx-background-color: #9bc3bb;
    -fx-border-color: #afd7cf #688d85 #688d85 #afd7cf;
}

.nothing .combo-box {
    -fx-border-color: #688d85 #afd7cf #afd7cf #688d85;
}

.nothing .combo-box-popup .list-cell {
    -fx-background-color: #688d85;
}
.stack .notch.nothing {
    -fx-fill: #9bc3bb;
    -fx-stroke: #688d85;
}