.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:hover {
    -fx-cursor: hand;
}

#mainGrid {
    -fx-background-color: #eaeaea;
}

.button.remove {
    /*-fx-background-color: #ff8967;*/
    -fx-background-insets: 0px;
    -fx-background-radius: 20px;
    /*-fx-border-color: #ffae98 #964e41 #964e41 #ffae98;*/
    -fx-text-fill: #e2e2e2;
    -fx-font-weight: bold;
    -fx-pref-width: 30px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
}

.button.remove:hover {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-text-fill: white;
}

.button.add {
    -fx-background-color: #67ce6c;
    -fx-pref-width: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-font-size: 130%;*/
    -fx-background-insets: 0px;
    -fx-border-radius: 0;
    -fx-border-color: #67ce6c #4f9d4f #4f9d4f #4f9d4f;
    -fx-translate-y: -1px;
}

.button.add:hover {
    -fx-background-color: #4f9d4f;
    -fx-border-color: #4f9d4f #4f9d4f #4f9d4f #4f9d4f;
}

.combo-box {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.combo-box:showing {
    -fx-color: white;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #dcdcdc;
    -fx-text-fill: #292929;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: #292929;
}

/* Per command */

.keyname {

}
.keyname .keylabel {
    -fx-background-color: #e1a91a;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 49px;
    -fx-translate-y: 9px;
    -fx-translate-x: -49px;
    -fx-alignment: center;
    -fx-label-padding: -15 0 0 0;
    -fx-border-color: transparent #9b6b1a transparent #ffc51b;
}
.keyname .keylabel.empty {
    -fx-font-size: 14px;
}
.keyname .directionlabel {
    -fx-pref-width: 49px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-translate-x: -49px;
    -fx-translate-y: 19px;
}
.keyname .directionlabel.empty {
    -fx-translate-y: 14px;
}

.keyname .topline {
    -fx-translate-x: -50px;
    -fx-translate-y: -2px;
    -fx-fill: #e1a91a;
    -fx-stroke: #e1a91a;
}
.keyname .tophighlight {
    -fx-translate-x: -49px;
    -fx-translate-y: -2px;
    -fx-fill: transparent;
    -fx-stroke: #ffc51b;
    -fx-stroke-width: 0.5px;
}
.keyname .topshadow {
    -fx-translate-x: -49px;
    -fx-translate-y: -2.5px;
    -fx-fill: transparent;
    -fx-stroke: #9b6b1a;
    -fx-stroke-width: 0.5px;
}
.keyname .bottomline {
    -fx-translate-x: -50px;
    -fx-fill: #e1a91a;
    -fx-stroke: #e1a91a;
}
.keyname .bottomhighlight {
    -fx-translate-x: -49.5px;
    -fx-fill: transparent;
    -fx-stroke: #ffc51b;
}
.keyname .bottomshadow {
    -fx-translate-x: -49.5px;
    -fx-fill: transparent;
    -fx-stroke: #9b6b1a;
}

.notch {
    -fx-translate-y: -1.5px;
    -fx-translate-x: 30px;
    -fx-fill: #e1a91a;
    -fx-stroke: #e1a91a;
}
.notch-border {
    -fx-translate-y: -.5px;
    -fx-translate-x: 30px;
    -fx-fill: transparent;
    -fx-stroke: #e1a91a;
}
.notchfill {
    -fx-translate-y: -2px;
    -fx-translate-x: 30px;
    -fx-fill: transparent;
    -fx-stroke-width: 2px;
    -fx-stroke: #e1a91a;
}
.empty.notch {
    -fx-fill: #eaeaea;
}
.empty.notchfill {
    -fx-stroke: #eaeaea;
}

.command {
    -fx-pref-height: 40px;
    -fx-alignment: center-left;
}

.command .label {
    -fx-text-fill: white;
    -fx-label-padding: 0 10 0 20;
}

.command.reset {
    -fx-background-color: #ffa381;
    -fx-border-color: #ffc8ad #c97665 #c97665 #ffc8ad;
}
.reset .combo-box {
    -fx-border-color: #c97665 #ffc8ad #ffc8ad #c97665;
}
.reset .combo-box-popup .list-cell {
    -fx-background-color: #c97665;
}
.notch.reset {
    -fx-fill: #ffa381;
    -fx-stroke: #c97665;
}
.notchfill.reset {
    -fx-stroke: #ffa381;
}
.reset .notch-border {
    -fx-stroke: #ffc8ad;
}

.command.move {
    -fx-background-color: #4a6cd4;
    -fx-border-color: #508ffe #404a93 #404a93 #508ffe;
}
.move .combo-box {
    -fx-border-color: #404a93 #508ffe #508ffe #404a93;
}
.move .combo-box-popup .list-cell {
    -fx-background-color: #404a93;
}
.notch.move {
    -fx-fill: #4a6cd4;
    -fx-stroke: #404a93;
}
.notchfill.move {
    -fx-stroke: #4a6cd4;
}
.move .notch-border {
    -fx-stroke: #508ffe;
}

.command.stop {
    -fx-background-color: #bb42c3;
    -fx-border-color: #ee46f6 #894091 #894091 #ee46f6;
}

.stop .combo-box {
    -fx-border-color: #894091 #ee46f6 #ee46f6 #894091;
}

.stop .combo-box-popup .list-cell {
    -fx-background-color: #894091;
}
.notch.stop {
    -fx-fill: #bb42c3;
    -fx-stroke: #894091;
}
.notchfill.stop {
    -fx-stroke: #bb42c3;
}
.stop .notch-border {
    -fx-stroke: #ee46f6;
}

.command.nothing {
    -fx-background-color: #9bc3bb;
    -fx-border-color: #c3ebe3 #577a72 #577a72 #c3ebe3;
}

.nothing .combo-box {
    -fx-border-color: #577a72 #c3ebe3 #c3ebe3 #577a72;
}

.nothing .combo-box-popup .list-cell {
    -fx-background-color: #577a72;
}
.notch.nothing {
    -fx-fill: #9bc3bb;
    -fx-stroke: #577a72;
}
.notchfill.nothing {
    -fx-stroke: #9bc3bb;
}
.nothing .notch-border {
    -fx-stroke: #c3ebe3;
}


/* Motorstatus */
.motorstatus {
    -fx-pref-height: 80px;
}
.motorstatus .circle {
    -fx-fill: #9f9f9f;
    -fx-stroke: #747474;
    -fx-stroke-width: 2px;
}
.motorstatus .line {
    -fx-stroke: #5e5e5e;
    -fx-stroke-width: 3px;
}
.motorstatus .label {
    -fx-font-size: 16px;
}
.motorstatus .powerbg {
    -fx-fill: #cbcbcb;
    -fx-stroke: #7f7f7f;
    -fx-stroke-width: 2px;
    -fx-translate-y: 65;
}
.motorstatus .power {
    -fx-fill: #62ff4c;
    -fx-translate-y: 67;
}


.console {
}
.console .info {
    -fx-fill: black;
}
.console .ok {
    -fx-fill: #006100;
}
.console .error {
    -fx-fill: #630000;
}